@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
  --primary-color: #fe640d;
  --danger-color: #ee4141;
  --page-width: 1600px;
  --horizontal-spacing: 30px;
  --column-gap: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0 50px; */
  margin: 140px var(--horizontal-spacing) 0 var(--horizontal-spacing);
  font-family: "Poppins", sans-serif;
}

.elegant {
  font-family: "Cinzel Decorative", serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 0 var(--horizontal-spacing) 0 var(--horizontal-spacing);
  backdrop-filter: blur(10px);
  background-color: #ffffff75;
}

header .brand {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

header .brand img {
  width: 65px;
}

/* if no logo but text */
header .brand.elegant {
  font-size: 1.8rem;
  font-weight: 600;
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

nav .nav-items {
  display: flex;
  gap: 50px;
}

nav .nav-items a {
  text-decoration: none;
  color: black;
  /* text-shadow: white 1px 0 10px; */
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s ease;
}

nav .nav-items a.active,
a:hover {
  color: var(--primary-color);
}

.body-container {
  display: flex;
  flex-direction: column;
  max-width: var(--page-width);
  margin: auto;
  padding-top: 60px;
}

.body-container .column {
  display: flex;
  flex-direction: column;
  gap: var(--column-gap);
  width: 100%;
}

.body-container .column .page-heading {
  width: 100%;
}

.artworks {
  display: flex;
  gap: var(--column-gap);
}

.page-heading h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.page-heading h1 span {
  color: var(--primary-color);
}

.page-heading.secondary h1 {
  font-size: 2.2rem;
}

.page-heading p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.body-container .column .artwork-card {
  position: relative;
  overflow: hidden;
  /* Assicura che l'overflow non esca dalla card */
  transition: 0.2s ease;
  will-change: translate;
}

.body-container .column .artwork-card img {
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
}

.body-container .column .artwork-card .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(transparent, #0000004d) center / cover; */
  background: linear-gradient(0turn, #00000075, transparent);
  transition: 0.1s ease;
}

.body-container .column .artwork-card .info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  width: 100%;
  padding: 10px;
  transform: translateY(20px);
  transition: 0.1s ease;
}

.body-container .column .artwork-card .info .left {
  font-size: 0.8vw;
  color: white;
  font-weight: 500;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translateY(50%);
}

.body-container .column .artwork-card .info .right {
  font-size: 0.8vw;
  color: white;
  font-weight: 500;
  margin-left: auto;
  text-align: end;
}

.body-container .column .artwork-card:hover .overlay {
  opacity: 1;
}

.body-container .column .artwork-card:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.body-container .column .artwork-card:hover {
  transform: scale(1.03);
}

form {
  display: flex;
  align-items: end;
  gap: 10px;
  justify-content: space-between;
  min-width: 100%;
  margin-bottom: 100px;
}

.clearfix {
  clear: both;
}

form .group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

form .group label {
  text-transform: uppercase;
  font-weight: 500;
}

form select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f2f2f2;
}

form select:focus {
  outline: 2px solid var(--primary-color);
}

form button {
  display: flex;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-left: 10px;
}

form button.reset {
  background-color: var(--danger-color);
}

.artworks-table {
  margin-top: 20px;
}

.artworks-table table {
  width: 100%;
  border-collapse: collapse;
}

.artworks-table table th,
.artworks-table table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.artworks-table table th {
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 500;
}

.artworks-table table td img.thumbnail {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.error_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.error_404 h2 {
  text-transform: capitalize;
}

.statistic-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.statistic {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 0px 1px;
  padding: 20px;
  width: 33%;
}

.statistic form {
  margin-bottom: -1px;
}

#statistics {
  display: flex;
  flex-direction: column;
  gap: 50px;
}